// Fonts imports
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
//

// Css -resets
*,
*::before,
*::after {
	box-sizing: border-box;
}
* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100vh;
}

html {
	font-size: 62.5%;
}

body {
	width: 100vw;
	position: relative;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

	background: hsla(217, 100%, 50%, 1);

	background: linear-gradient(
		90deg,
		hsla(217, 100%, 50%, 1) 0%,
		hsla(186, 100%, 69%, 1) 100%
	);

	background: -moz-linear-gradient(
		90deg,
		hsla(217, 100%, 50%, 1) 0%,
		hsla(186, 100%, 69%, 1) 100%
	);

	background: -webkit-linear-gradient(
		90deg,
		hsla(217, 100%, 50%, 1) 0%,
		hsla(186, 100%, 69%, 1) 100%
	);
}

////

.quote {
	background-color: #edf2f4;
	border: 3px #000 solid;
	border-radius: 10px;
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	margin-bottom: 3rem;
	padding: 5rem;
	position: relative;
	box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
	z-index: 3;

	&--content {
		text-align: center;
		font-family: "Montserrat", sans-serif;
		font-size: 2.5rem;
	}

	&--footer {
		font-size: 1.6rem;
		font-family: "Josefin Sans", sans-serif;
		margin-top: 4rem;
		display: flex;
		justify-content: space-between;
		align-content: center;
	}

	&--name {
		padding: 1rem;
	}
}

.random {
	background-color: #edf2f4;
	display: flex;
	justify-content: center;
	align-content: center;
	gap: 1rem;
	padding: 1.5rem;
	border: 2px solid #000;
	cursor: pointer;
	z-index: 3;
	transition: 0.3s ease-in;

	&:hover {
		transform: translateY(-1px);
		box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
	}

	&:focus {
		transform: translateY(0);
		box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	}
}

.loading {
	font-size: 30px;
}

.loading:after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4, end) 900ms infinite;
	animation: ellipsis steps(4, end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
}

@keyframes ellipsis {
	to {
		width: 1.25em;
	}
}

@-webkit-keyframes ellipsis {
	to {
		width: 1.25em;
	}
}

.footer {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-align: center;

	&--wave {
		width: 100%;
	}
}

footer span {
	z-index: 3;
	color: #fff;
	font-size: 1.6rem;
	position: absolute;
	bottom: 5rem;
	left: 50%;
	transform: translateX(-50%);
	font-family: "Macondo", cursive;

	& a {
		&:link,
		&:visited {
			color: #fff;
			border-bottom: 2px solid #000;
			padding: 1rem;
			text-decoration: none;
			cursor: pointer;
		}
	}
}

@media only screen and (max-width: 800px) {
	html {
		font-size: 50%;
	}

	.quote {
		width: 80%;
	}
}

@media only screen and (max-width: 450px) {
	html {
		font-size: 30%;
	}

	.quote {
		width: 90%;
	}
}

@media only screen and (min-height: 600px) and (orientation: portrait) {
	html {
		font-size: 62.5%;
	}

	.quote {
		height: 50%;
	}
}

.underline {
	border-bottom: 1px solid #000;
}
