@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Macondo&display=swap");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
}

html {
  font-size: 62.5%;
}

body {
  width: 100vw;
  position: relative;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #0062ff;
  background: -webkit-gradient(linear, left top, right top, from(#0062ff), to(#61efff));
  background: linear-gradient(90deg, #0062ff 0%, #61efff 100%);
  background: -webkit-linear-gradient(90deg, #0062ff 0%, #61efff 100%);
}

.quote {
  background-color: #edf2f4;
  border: 3px #000 solid;
  border-radius: 10px;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 3rem;
  padding: 5rem;
  position: relative;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  z-index: 3;
}

.quote--content {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

.quote--footer {
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.quote--name {
  padding: 1rem;
}

.random {
  background-color: #edf2f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  gap: 1rem;
  padding: 1.5rem;
  border: 2px solid #000;
  cursor: pointer;
  z-index: 3;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.random:hover {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.random:focus {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.loading {
  font-size: 30px;
}

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4, end) 900ms infinite;
  animation: ellipsis steps(4, end) 900ms infinite;
  content: "\2026";
  /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 1.25em;
  }
}

.footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.footer--wave {
  width: 100%;
}

footer span {
  z-index: 3;
  color: #fff;
  font-size: 1.6rem;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Macondo", cursive;
}

footer span a:link, footer span a:visited {
  color: #fff;
  border-bottom: 2px solid #000;
  padding: 1rem;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  html {
    font-size: 50%;
  }
  .quote {
    width: 80%;
  }
}

@media only screen and (max-width: 450px) {
  html {
    font-size: 30%;
  }
  .quote {
    width: 90%;
  }
}

@media only screen and (min-height: 600px) and (orientation: portrait) {
  html {
    font-size: 62.5%;
  }
  .quote {
    height: 50%;
  }
}

.underline {
  border-bottom: 1px solid #000;
}
/*# sourceMappingURL=style.css.map */